# learning
torch
pytorch-pretrained-bert
pytorch-transformers
tokenizers

# logging
tqdm
colorlog
terminaltables

# plotting
matplotlib
seaborn
python-ternary

# parsing
beautifulsoup4
Unidecode
nltk

# interfacing
git+https://github.com/TREMA-UNH/trec-car-tools.git#subdirectory=python3&egg=trec_car_tools
sqlitedict
git+https://github.com/cvangysel/pytrec_eval.git&egg=pytrec_eval
gensim
Cython
pyjnius

# misc
pytools
cached-property

# Experimaestro-ir
git+https://github.com/bpiwowar/experimaestro-ir.git#egg=experimaestro_ir
