# learning
torch
pytorch-pretrained-bert
pytorch-transformers
tokenizers

# logging
tqdm
colorlog
terminaltables

# plotting
matplotlib
seaborn
python-ternary

# parsing
beautifulsoup4
Unidecode
nltk

# interfacing
# TODO: put back when using it
# git+https://github.com/TREMA-UNH/trec-car-tools.git#subdirectory=python3&egg=trec_car_tools
sqlitedict
trec-eval>=0.5
gensim
Cython
pyjnius

# misc
pytools
cached-property

# Experimaestro-ir
experimaestro-ir>=0.1
